* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: 20px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(155, 226, 155, 0.829), rgba(55, 161, 55, 0.815)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    /* https://bennettfeely.com/clippy/ */
}